<!DOCTYPE html>
<html ng-app="account">
  <head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
  </head>
  <body ng-controller="AccountController as accountCtrl">
    <h1>Account Users</h1>
    <div ng-repeat="user in users">
      <edit-user></edit-user>
    </div>
    <add-user></add-user>
    <script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>
</html>
