body {
  margin: 0 auto;
  text-align: center;
}

.user-list-container, .new-entry-container {
  margin: 0 auto;
  width: 220px;
}

.user-list, .new-entry-preview {
  text-align: left;
}

.new-user, .update-user {
  padding-top: 10px;
  text-align: center;
}

.create-user {
  margin: 0 auto;
}

.create-user, .user-list {
  padding-bottom: 10px;
}

.new-entry-preview {
  padding-top: 10px;
}

.edit-user-buttons {
  padding-top: 5px;
}
