<div class="create-user">
  <a class="btn" ng-click="addingUser = true">New User</a>
  <div class="new-entry-container" ng-show="addingUser">
    <div class="new-entry-preview">
      <b>First Name:</b> {{user.firstName}}
      <br>
      <b>Last Name:</b> {{user.lastName}}
      <br>
      <b>Email:</b> {{user.email}}
    </div>
  </div>
  <form class="new-user" name="newuser" ng-show="addingUser" ng-submit="newuser.$valid && addUser(user)" novalidate>
    <input ng-model="user.firstName" type="text" placeholder="First Name" required/>
    <br>
    <input ng-model="user.lastName" type="text" placeholder="Last Name"/>
    <br>
    <input ng-model="user.email" type="email" placeholder="Email"/>
    <br>
    <input type="submit" value="Add"/>
  </form>
</div>
