<div class="create-user">
  <a class="btn" ng-click="beginAdd()">New User</a>
  <div class="new-entry-container" ng-show="addingUser">
    <div class="new-entry-preview">
      <b>First Name:</b> {{user.firstName}}
      <br>
      <b>Last Name:</b> {{user.lastName}}
      <br>
      <b>Email:</b> {{user.email}}
    </div>
  </div>
  <form class="new-user" name="newuser" ng-show="addingUser" novalidate>
    <input ng-model="user.firstName" type="text" placeholder="First Name" required/>
    <br>
    <input ng-model="user.lastName" type="text" placeholder="Last Name"/>
    <br>
    <input ng-model="user.email" type="email" placeholder="Email"/>
    <br>
    <div class="new-user-buttons">
      <button type="button" ng-click="newuser.$valid && addUser(user)">Add</button>
      <button type="button" ng-click="cancelAdd()">Cancel</button>
    </div>
  </form>
</div>
