<div class="user-list-container" ng-show="user">
  <div class="user-list">
    <b>First Name:</b> {{user.firstName}}
    <br>
    <b>Last Name:</b> {{user.lastName}}
    <br>
    <b>Email:</b> {{user.email}}
    <br>
    <div class="edit-user-buttons">
      <a class="edit btn" ng-click="beginEdit($index)">Edit</a>
      <a class="remove btn" ng-click="removeUser($index)">Delete</a>
    </div>
  </div>
  <form class="update-user" name="update" ng-show="showCurrentUserToEdit($index)">
    <input ng-model="copy.firstName" type="text" placeholder="First Name" required/>
    <br>
    <input ng-model="copy.lastName" type="text" placeholder="Last Name"/>
    <br>
    <input ng-model="copy.email" type="email" placeholder="Email"/>
    <br>
    <button type="button" ng-click="commitEdit()">Save</button>
    <button type="button" ng-click="cancelEdit()">Cancel</button>
  </form>
</div>
