<div class="user-list-container" ng-show="user">
  <div class="user-list">
    <b>First Name:</b> {{user.firstName}}
    <br>
    <b>Last Name:</b> {{user.lastName}}
    <br>
    <b>Email:</b> {{user.email}}
    <br>
    <div class="edit-buttons">
      <a class="edit btn" ng-click="editingUser = true">Edit</a>
      <a class="remove btn" ng-click="removeUser(user)">Delete</a>
    </div>
  </div>
</div>
<form class="update-user" name="update" ng-show="editingUser" ng-submit="editingUser = false">
  <input ng-model="user.firstName" type="text" placeholder="First Name" required/>
  <br>
  <input ng-model="user.lastName" type="text" placeholder="Last Name"/>
  <br>
  <input ng-model="user.email" type="email" placeholder="Email"/>
  <br>
  <input type="submit" value="Save"/>
</form>
