<!DOCTYPE html>
<html ng-app="account">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>
  <body ng-controller="AccountController as account">
    <h1>Account Users</h1>
    <div ng-repeat="user in users" ng-show="users">
      <blockquote>
        <b>First Name:</b> {{user.firstName}}<br>
        <b>Last Name:</b> {{user.lastName}}<br>
        <b>Email:</b> {{user.email}}<br>
        <a class="btn" ng-click="removeUser(user)">Remove User</a>
      </blockquote>
    </div>
    <form name="newUserForm" ng-submit="newUserForm.$valid && addUser(user)" novalidate>
      <blockquote>
        <b>First Name:</b> {{user.firstName}}<br>
        <b>Last Name:</b> {{user.lastName}}<br>
        <b>Email:</b> {{user.email}}
      </blockquote>
      <label>First Name:</label>
      <input ng-model="user.firstName" type="text" required/>
      <label>Last Name:</label>
      <input ng-model="user.lastName" type="text"/>
      <label>Email:</label>
      <input ng-model="user.email" type="email"/>
      <input type="submit" value="Add"/>
    </form>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
