<blockquote>
  <b>First Name:</b> {{user.firstName}}<br>
  <b>Last Name:</b> {{user.lastName}}<br>
  <b>Email:</b> {{user.email}}<br>
  <a class="edit btn" ng-click="editing = true">Edit</a>
  <a class="remove btn" ng-click="removeUser(user)">Delete</a>
  <form class="updateUser" name="updateUser" ng-show="editing" ng-submit="editing = false">
    <input ng-model="user.firstName" type="text" placeholder="First Name" required/><br>
    <input ng-model="user.lastName" type="text" placeholder="Last Name"/><br>
    <input ng-model="user.email" type="email" placeholder="Email"/><br>
    <input type="submit" value="Save"/>
  </form>
</blockquote>
